.playword {
    width:700px;
    margin: 30px 50px 0 50px;
    height:100px;
    font-size: 60px;
    font-style: italic;
    text-align: center;
}

.guess-word {
    text-decoration : underline;
    margin : 10px;
}